<div class="container navbar">
  <div class="navigation">
    <a class="logo" routerLink="">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <a routerLink="">Home</a>
    <a routerLink="">Shop</a>
    <a routerLink="">Magazine</a>
  </div>
  <div class="nav-right">
    <input type="search" name="search" placeholder="Search" />
    <a routerLink="cart" class="cart"
      ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
      {{ products.length }}<span> items</span></a
    >
    <li>Login</li>
  </div>
</div>
